{% extends "Cinema/base.html" %}

{% block content %}
  <h1 class="name">Metropol-Filmpalast
  <small class="text-muted">Ihr Filmgeschmack ist unser Programm</small></h1>
	
	{%  if user.is_authenticated %}
	<form action="{% url "admin" %}" method="post">
			{% csrf_token %}
			<p>Interner Bereich - andere Oberfläche unter /admin verfügbar</p>
			<label>Aktueller Stand der Woche</label>
			<input type="submit" name="my_movies" class="btn btn-dark">

			<br><br>
		
			<label>Empfehlungen der Nutzer</label>
			<input type="submit" name="recommendations" class="btn btn-dark">
			<br><br>
			<input type="text" name="vorschlag" id="vorschlag" value="" placeholder="Dein Vorschlag" >
			<input type="submit" name="vorschlagsuche" id="vorschlagsuche" class="btn btn-dark" value="Daten importieren">
	</form>
	<br>

	     <a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-dark">Logout</a>
	{% else %}
	<p>Um Zugriff auf diese Seite zu erlangen, benötigen Sie ein Mitarbeiterkonto</p>
	     <li><a href="{% url 'login'%}?next={{request.path}}"class="btn btn-dark">Login</a></li>
	{% endif %}
{% endblock content %}