<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	{% load static %}
	<link href="{% static 'Cinema/pictures' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Cinema/style.css' %}">
  	<title>Metropol-Filmpalast</title>
</head>

<body>
{% block content %}
<p>Placeholder text in base template. Replace with page  content.</p>
{% endblock content %}
</body>
</html>