{% extends "Cinema/base.html" %}

{% block content %}
	  <h1 class="name">Metropol-Filmpalast
	  <small class="text-muted">Ihr Filmgeschmack ist unser Programm</small></h1>
	  <p>Aktueller Stand ({% now "SHORT_DATETIME_FORMAT" %}):</p>
	  <div class="container">
		  
		  {% for day in weekdays %}
		  <div class="row">
			  
			  <div class="col">
			  	<h2>{{day.name}}</h2>
		  	  </div>
			  {% for movie in movies %}
			  	{% if movie.weekday == day %}
			  		{% if movie.name in plan %}	
			  		<div class="col">
						<p>{{movie.name}}</p><br>
						<p>{{movie.genre}}</p><br>
						<p>Ab {{movie.age}} | {{movie.releasedate}}</p><br>
						<p>Votes: {{movie.votes}}</p>
					</div>
			
					
		  <div class="col">
			  <img src={{movie.poster}} class="img-thumbnail poster">			
		  </div>
		  
			{% endif %}
		{% endif %}
		    {% endfor %}
	  </div>
		<hr class="line">
		{% endfor %}	
</div>		
	  <a href="{% url 'index' %}" class="btn btn-dark">
		  Zurück zur Startseite
  	  </a>
{% endblock content %}