{% extends "Cinema/base.html" %}

{% block content %}
	  <h1 class="name">Metropol-Filmpalast
	  <small class="text-muted">Ihr Filmgeschmack ist unser Programm</small></h1>
	  
		  <form action="{% url "index" %}" method="post" id="choice_id">
			  {% csrf_token %}
			  
				  	<div class="container-fluid">
						
					{% for day in weekdays %}
						<div class="row">
							
							<div class="col">
								<h2>{{day.name}}</h2>
							</div>
						
							
							{%for item in movies %}
								{% if item.weekday.name == day.name %}
								
								<div class="col">
									<input type="checkbox" id={{item.name}} name='{{item.name}}'>
									<label for={{item.name}}>{{item.name}}</label>
									<br>
									<p>{{item.genre}}</p>
									<br>
									<p>{{item.releasedate}}</p>
									<br>
									<p>{{item.duration}}</p>
									<br>
									<p>Ab {{item.age}}</p>
									<br>
									
									
								</div>
						
								<div class="col">
									<img src={{item.poster}} class="img-thumbnail poster">			
								</div>
						
					
								{% endif %}
							{% endfor %}
						</div>
						<hr class="line">
					{% endfor %}				
		  </form>
	  				
					<br>
	  <button type="submit" form="choice_id" value="Submit" class="btn btn-dark">Deine gewählten Filme abschicken</button>
	  <br><br>

	  <a href="{% url 'current' %}" class="btn btn-dark">
		  Aktueller Stand
	  </a>
	  <br><br>
	  <a href="{% url 'recommend' %}" class="btn btn-dark">
		  Eigene Filmvorschläge einreichen
  	  </a>
	  
{% endblock content %}
