{% extends "Cinema/base.html" %}

{% block content %}
	  <h1>Filmwünsche?
	  <small class="text-muted">Her damit!</small></h1>
	  <div class="recommend">
	  <form action="" method="post">
		  {% csrf_token %}
		  <div class="form-row">
			  <div class="col-3">
				  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			  </div>
			  <div class="col-auto">
				  				  <img class="img-thumbnail roll right" src="https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80">
			  </div>
			  <div class="col-3">
				  <p>Vielleicht hat schon jemand den Film vorgeschlagen, den du unbedingt sehen möchtest. Oder es ist etwas in der Auswahl dabei, das dir gefallen könnte. Egal, was los ist: du kannst dir aus den Vorschlägen Anderer raussuchen, was dich interessiert, und dafür abstimmen.</p>
				  <br><br>
				  <a href="{% url 'vote' %}" class="btn btn-dark">
					  Stimme über eingereichte Filmvorschläge ab
			  	  </a>
			  </div>
		  </div>
		  <br><br>
		<div class="form-row">
			
			  <div class="col-auto, left">
				  <input type="text" name="name" placeholder="Filmtitel" {%if "name" in data %} value="{{ data.name }}" {% endif %}>
	  	  	  	<form action="{% url 'index' %}" method="post" class="col-auto, left">
	  		  	  {% csrf_token %}
	  			  <input type="submit" name="speichern" id="speichern" class="btn btn-dark" value="Speichern">
			  </div>
			 

			  <div class="col-auto, left">

			  </div>
		</div>
	
	  </form>
			  <br>
{# Es kommt noch keine Rückmeldung der Seite, dass die Daten auch wirklich eingetragen wurden. BEARBEITEN #}
	  <hr class="line">
	  <form action="" method="post">
		  <input type="text" name="vorschlag" id="vorschlag" value="" placeholder="Dein Vorschlag" >
		  {% csrf_token %}
		  <input type="submit" name="vorschlagsuche" id="vorschlagsuche" class="btn btn-dark" value="Daten importieren">
	  </form>
	  
	  <br>
	  
	  
	  <a href="{% url 'index' %}" class="btn btn-dark">
		  Zurück zur Startseite
  	  </a>
  </div>
{% endblock content %}
