{% extends "Cinema/base.html" %}

{% block content %}
	  <h1 class="name">Metropol-Filmpalast
	  <small class="text-muted">Ihr Filmgeschmack ist unser Programm</small></h1>


	  <form action="{% url "vote" %}" method="post" id="choice_id">
		  {% csrf_token %}
		  
			  	<div class="container">
					
					<div class="row">
						{%for item in movies_recomm %}
						
						
							<div class="col">
								
								
								<input type="checkbox" id={{item.name}} name='{{item.name}}'>
								<label for={{item.name}}>{{item.name}}</label>
								<p>{{item.releasedate}}</p>
								<p>{{item.duration}}</p>
								<p>Ab {{item.age}}</p>
								
								
							</div>
								<br>
								
							
							<div class="col">
								<p>{{item.description}}</p>
							</div>
							
							<div class="col">	
								<img src={{item.poster}} class="img-thumbnail poster">
							</div>
							<hr class="line">
							
					
						{% endfor %}
					</div>
			  </div>
					<hr class="line">
			
	  </form>
  				
				<br>
  <button type="submit" form="choice_id" value="Submit" class="btn btn-dark">Deine gewählten Filme abschicken</button>
  <br><br>
	  <a href="{% url 'index' %}" class="btn btn-dark">
		  Zurück zur Startseite
	  </a>
	  
{% endblock content %}