{% extends "Cinema/base.html" %}
{% comment %}
https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication#testing_in_templates
{% endcomment %}
{% block content %}
	  <h1 class="name">Metropol-Filmpalast
	  <small class="text-muted">Ihr Filmgeschmack ist unser Programm</small></h1>
	  
	{% if form.errors %}
	    <p>Benutzername oder Passwort falsch. Bitte versuchen Sie es nochmal.</p>
	  {% endif %}

	  {% if next %}
	    {% if user.is_authenticated %}
	      <p>Ihr Account besitzt keine ausreichenden Rechte, um auf diese Seite zuzugreifen. Wenn Sie annehmen, dass es sich hierbei um einen Fehler handelt, melden Sie sich bitte bei unseren Mitarbeitern.</p>
	    {% else %}
	      <p>Bitte melden Sie sich an, um diese Seite zu sehen.</p>
	    {% endif %}
	  {% endif %}

	  <form method="post" action="{% url 'login' %}">
	    {% csrf_token %}
	    <table>
	      <tr>
	        <td>{{ form.username.label_tag }}</td>
	        <td>{{ form.username }}</td>
	      </tr>
	      <tr>
	        <td>{{ form.password.label_tag }}</td>
	        <td>{{ form.password }}</td>
	      </tr>
	    </table>
	    <input type="submit" value="login" />
	    <input type="hidden" name="next" value="{{ next }}" />
	  </form>

{% endblock content %}