html{
	min-height: 100%;
}

body {
    background: #EFE5DC;
    background: linear-gradient(to bottom, #202021 60%, #260101);
	font-size: 1em;
	margin-left: 2em;
	margin-right : 2em;
	margin-bottom: 4em;
	min-height:100%;
	
}

h1 {
	font-family: "Copperplate";
	font-size: 2em;
	color: #590A03;
	padding-top: 0.25em;
	margin-bottom: 0.25em;
}

h2{
	color: white;
	font-size: 1.25em;
}

label, p{
	color: white;
	font-size: 1em;
}
table, th, td {
	min-width: 1em;
	max-width: 100%;
}

.line {
	border: solid 0.05em #656565;
	margin: 1.5em;
	width: 95%;
}

.ct{
	text-align: center;
}

.hell {
	color: #FFFFFF;
}


.poster {
	min-width: 12.25em;
	width: 12.25em;
	height: 17.625em;
	
}

.roll{
	min-width:12.25em;
	width: 17.625em;
	height: ;
}

.right {
	min-width:12em;
	width: 28em;
	height: 20em;
	margin-left: 4em;
	margin-right: 4em;
}
.recommend{
	margin-left:5em;
}
.left {
	float: left;
}